# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\File Code\Module 4 (Spring)\ValidatingFormInput-Spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
